body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
}

a {
  color: #00b7ff;
}

.text { 
  padding: 2rem;
  margin: 4rem, 0;

}
.card {
  background: none;
  width: 60%;
  margin-top: 2rem;
  margin: auto;
  text-align: center;
  
  text-shadow: .5px .5px .5px lightgoldenrodyellow;
}
section {
  height: 100vh;

}
canvas {
  width: 100vw;
  /* height: 100vh;  */
  display: block;
  position: absolute;
  top:80px;
  left: 0;
  z-index: -9999;
  opacity: .75;
  background-repeat: no-repeat;
}
.intro {
  text-align: center;
  position: relative;
}

.intro-header {
  text-align: center;
  font-size: 80px;
  color: lightgoldenrodyellow;
}

.scroll {
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

.parallax {
  /* The image used */
  background-image: url("../images/nebula-4.jpg");
  /* Set a specific height */
  min-height: 800px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.counting-stats-box {
  background-color: lightgray;
  padding: 10px;
  margin: 5px;
  width: 18%;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
}

.counting-stats {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.none{
  opacity: 0;
}